#--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.5.1/constraints-3.10.txt"

agate==1.7.0
betterproto==1.2.5
future==0.18.3
grpclib==0.4.3
h2==4.1.0
hologram==0.0.15
hpack==4.0.0
hyperframe==6.0.1
isodate==0.6.1
leather==0.3.4
logbook==1.5.3
mashumaro==3.6
minimal-snowplow-tracker==0.0.2
multidict==6.0.4
networkx==2.8.8
parsedatetime==2.4
psycopg2-binary==2.9.5
pytimeparse==1.1.8
stringcase==1.2.0

dbt-core==1.5.9
dbt-snowflake==1.5.5

apache-airflow-providers-http==4.6.0
apache-airflow-providers-slack==7.3.2

apache-airflow-providers-microsoft-azure==8.0.0